@using Palitra27.Web.ViewModels.Products;

@model ProductInfoViewModel
@{
    ViewData["Title"] = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";

    double totalReviews = Model.Reviews.Count;
    double totalStars = Model.Reviews.Sum(r => r.Stars);
    var actualResult = Math.Round(totalStars / totalReviews, 2);
    if (totalReviews == 0)
    {
        actualResult = 0;
    }
}
<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Product Information</h1>
                <nav class="d-flex align-items-center">
                    <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Shop/Index">Shop<span class="lnr lnr-arrow-right"></span></a>
                    <a href="#">Product Info</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<!--================Single Product Area =================-->
<form method="post" id="my_form">
    @Html.AntiForgeryToken()
    <div class="product_image_area">
        <div class="container">
            <div class="row s_product_inner">
                <div class="col-lg-6">
                    <div class="s_Product_carousel">
                        <div class="single-prd-item">
                            <img class="img-fluid" src="@Model.Image" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="@Model.Image" alt="">
                        </div>
                        <div class="single-prd-item">
                            <img class="img-fluid" src="@Model.Image" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 offset-lg-1">
                    <div class="s_product_text">
                        <h3>@Model.Name</h3>
                        <h2>$@Model.Price</h2>
                        <ul class="list">
                            <li><a class="active" href="#"><span>Category</span> @Model.Category</a></li>
                            <li><a class="active" href="#"><span>Brand</span> @Model.Brand</a></li>
                        </ul>
                        <p class="miniDescription">@Model.MiniDescription</p>
                        <div class="product_count">
                            <label for="quantity">Quantity:</label>
                            <input type="text" name="quantity" id="sst" maxlength="12" value="1" title="Quantity:" class="input-text qty">
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                    class="increase items-count" type="button">
                                <i class="lnr lnr-chevron-up"></i>
                            </button>
                            <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                    class="reduced items-count" type="button">
                                <i class="lnr lnr-chevron-down"></i>
                            </button>
                        </div>
                        <div class="card_area d-flex align-items-center">
                            <button type="submit" value="submit" class="primary-btn">Add To Cart</button>
                            <a asp-controller="Favourites" asp-action="Add" asp-route-productId="@Model.Id"><i class="lnr lnr lnr-heart bigHeart"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
<!--================End Single Product Area =================-->
<!--================Start Product Description Area =================-->
<section class="product_description_area">
    <div class="container">
        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Description</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                   aria-selected="false">Specification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" id="review-tab" data-toggle="tab" href="#review" role="tab" aria-controls="review"
                   aria-selected="false">Reviews</a>
            </li>
        </ul>

        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade" id="home" role="tabpanel" aria-labelledby="home-tab">
                <div class="col-md-12">
                    <p class="bigDescription">@Model.Description</p>
                </div>
            </div>

            <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            <tr>
                                <td>
                                    <h5>Width</h5>
                                </td>
                                <td>
                                    <h5>@Model.Width cm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Height</h5>
                                </td>
                                <td>
                                    <h5>@Model.Height cm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Depth</h5>
                                </td>
                                <td>
                                    <h5>@Model.Depth cm</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Weight</h5>
                                </td>
                                <td>
                                    <h5>@Model.Weight cm</h5>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">
                <form method="post" action="/User/AddReview/@Model.Id">
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row total_rate">
                                <div class="col-6">
                                    <div class="box_total">
                                        <h5>Overall</h5>
                                        <h4>@actualResult</h4>
                                        <h6>(@Model.Reviews.Count Reviews)</h6>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="rating_list">
                                        <h3>Based on @Model.Reviews.Count Reviews</h3>
                                        <ul class="list">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i> @Model.Reviews.Where(p => p.Stars == 1).Count();
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Reviews.Where(p => p.Stars == 2).Count();
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Reviews.Where(p => p.Stars == 3).Count();
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i>@Model.Reviews.Where(p => p.Stars == 4).Count();
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> @Model.Reviews.Where(p => p.Stars == 5).Count();
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            @foreach (var item in Model.Reviews.OrderByDescending(x => x.DateOfCreation))
                            {
                                <div class="review_list">
                                    <div class="review_item sectionGapForReviewMessages">
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="~/img/product/review-1.png" alt="">
                                            </div>
                                            <div class="media-body">
                                                <h4>@item.UserName</h4>
                                                <h5>@item.DateOfCreation</h5>
                                                @for (int i = 0; i < item.Stars; i++)
                                                {
                                                    <i class="fa fa-star"></i>
                                                }
                                            </div>
                                        </div>
                                        <p class="reviewComment">
                                            @item.Message
                                        </p>
                                    </div>
                                </div>
                            }
                        </div>
                        <div class="col-lg-6">
                            <div class="review_box">
                                <h4>Add a Review</h4>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="name" name="name" placeholder="Your Full name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Full name'" required>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <p>
                                            <a href="#" onclick="return false;"><i class="fa fa-star fa-lg" id="firstStar"></i></a>
                                            <a href="#" onclick="return false;"><i class="fa fa-star fa-lg" id="secondStar"></i></a>
                                            <a href="#" onclick="return false;"><i class="fa fa-star fa-lg" id="thirdStar"></i></a>
                                            <a href="#" onclick="return false;"><i class="fa fa-star fa-lg" id="fourthStar"></i></a>
                                            <a href="#" onclick="return false;"><i class="fa fa-star fa-lg" id="fifthStar"></i></a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group" hidden>
                                        <input type="number" class="form-control" id="stars" name="Stars" placeholder="stars" onfocus="this.placeholder = ''" onblur="this.placeholder = 'stars'" value="5">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <textarea class="form-control" placeholder="Message" name="Message" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Message'" required=""></textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="submit" value="submit" class="primary-btn">Add Review</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--================End Product Description Area =================-->
