@using Palitra27.Web.ViewModels.Shop;
@using Palitra27.Common;

@model ShopFiltersViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var counter = 0;
    int showProducts = this.ViewBag.ProductsToShow;
    int pageNumber = this.ViewBag.CurrentPage;
    var productsCount = this.Model.Products.Products.ToList().Count;
    var count = productsCount - this.ViewBag.LastPageProducts;
}

<!-- Start Banner Area -->
<section class="banner-area organic-breadcrumb">
    <div class="container">
        <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
            <div class="col-first">
                <h1>Shop</h1>
                <nav class="d-flex align-items-center">
                    <a href="/Home/Index">Home<span class="lnr lnr-arrow-right"></span></a>
                    <a href="/Shop/Index">Shop</a>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->
<form action="#" method="post">
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-4 col-md-5">
                <div class="sidebar-categories">
                    <div class="head">Filter By Categorie(s)</div>
                    <ul class="main-categories">
                        @foreach (var item in Model.BrandCategoryViewModel.Categories.OrderBy(x => x.Name))
                        {
                            <li class="filter-list"><input class="pixel-radio" type="radio" id="@item.Name" name="Category" value="@item.Name"><label for="@item.Name">@item.Name</label></li>
                        }
                    </ul>
                </div>
                <div class="sidebar-filter mt-50">
                    <div class="top-filter-head">Filter By Brand(s)</div>
                    <div class="common-filter">
                        <div class="head">Brands</div>
                        @foreach (var item in Model.BrandCategoryViewModel.Brands.OrderBy(x => x.Name))
                        {
                            <ul>
                                <li class="filter-list"><input class="pixel-radio" type="radio" id="@item.Name" name="Brand" value="@item.Name"><label for="@item.Name">@item.Name</label></li>
                            </ul>
                        }
                    </div>
                    <div>
                        <div class="top-filter-head">Price Filter</div>
                        <div class="head">Price</div>
                        <div class="container-fluid">
                            <div class="row">
                                <div class="price-range-area">
                                    <div class="value-wrapper d-flex">
                                        <input type="number" name="priceLower" placeholder="$ Min" />
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="price-range-area">
                                    <div class="value-wrapper d-flex">
                                        <input type="number" name="priceUpper" placeholder="$ Max" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-9 col-lg-8 col-md-7">
                <!-- Start Filter Bar -->
                <div class="filter-bar d-flex flex-wrap align-items-center">
                    <div class="sorting">
                        <select name="Sorting">
                            @if (this.ViewBag.Sort == "pDESC")
                            {
                                <option value="pASC">Price ASC</option>
                                <option value="pDESC" selected>Price DESC</option>
                                <option value="nAZ">Name A-Z</option>
                                <option value="nZA">Name Z-A</option>
                            }
                            else if (this.ViewBag.Sort == "nAZ")
                            {
                                <option value="pASC">Price ASC</option>
                                <option value="pDESC">Price DESC</option>
                                <option value="nAZ" selected>Name A-Z</option>
                                <option value="nZA">Name Z-A</option>
                            }
                            else if (this.ViewBag.Sort == "nZA")
                            {
                                <option value="pASC">Price ASC</option>
                                <option value="pDESC">Price DESC</option>
                                <option value="nAZ">Name A-Z</option>
                                <option value="nZA" selected>Name Z-A</option>
                            }
                            else
                            {
                                <option value="pASC" selected>Price ASC</option>
                                <option value="pDESC">Price DESC</option>
                                <option value="nAZ">Name A-Z</option>
                                <option value="nZA">Name Z-A</option>
                            }
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <select name="Show">
                            @if (this.ViewBag.Show == 24)
                            {
                                <option value="12">Show 12</option>
                                <option value="24" selected>Show 24</option>
                            }
                            else
                            {
                                <option value="12" selected>Show 12</option>
                                <option value="24">Show 24</option>
                            }
                        </select>
                    </div>
                    <div class="sorting mr-auto">
                        <h2 class="searchBtn">
                            <button type="submit" value="submit" class="genric-btn info shopSubmitButton">Search</button>
                        </h2>
                    </div>
                    <select name="Page">
                        @for (int i = 1; i <= ViewBag.Pages; i++)
                        {
                            if (i == this.ViewBag.CurrentPage)
                            {
                                <option value="@i" selected>@i</option>
                            }
                            else
                            {
                                <option value="@i">@i</option>
                            }
                        }
                    </select>
                </div>
                <!-- End Filter Bar -->
                <!-- Start Best Seller -->
                <section class="lattest-product-area pb-40 category-list">
                    <div class="row">
                        @{
                            var skipProductsAmount = 0;
                            var takeProductsAmount = showProducts;
                            if (pageNumber == 1)
                            {
                                skipProductsAmount = 0;
                            }
                            else if (pageNumber == 2)
                            {
                                skipProductsAmount = showProducts;
                            }
                            else
                            {
                                skipProductsAmount = showProducts * pageNumber;
                            }
                            if (pageNumber == this.ViewBag.Pages)
                            {
                                skipProductsAmount = count;
                                takeProductsAmount = this.ViewBag.LastPageProducts;
                            }
                            if (productsCount <= showProducts)
                            {
                                takeProductsAmount = productsCount;
                                skipProductsAmount = 0;
                            }
                        }
                        @foreach (var product in this.Model.Products.Products.ToList().Skip(skipProductsAmount).Take(takeProductsAmount))
                        {
                            if (counter == this.ViewBag.ProductsToShow)
                            {
                                break;
                            }
                            <!-- single product -->
                            <div class="col-lg-4 col-md-6">
                                <div class="single-product">
                                    @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                    {
                                    <a href="/Administration/Products/ChooseOne/@product.Id"><img class="img-fluidd" src="@product.Image" alt=""></a>
                                    }
                                    else{
                                    <a href="/Products/Info/@product.Id"><img class="img-fluidd" src="@product.Image" alt=""></a>
                                    }
                                    <div class="product-details">
                                        <h6>
                                            @product.Name
                                        </h6>
                                        <div class="price">
                                            <h6>@product.Price</h6>
                                        </div>
                                        <div class="prd-bottom">
                                            <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@product.Id" class="social-info">
                                                <span class="ti-bag"></span>
                                                <p class="hover-text">add to bag</p>
                                            </a>
                                            <a asp-controller="Favourites" asp-action="Add" asp-route-productId="@product.Id" class="social-info">
                                                <span class="lnr lnr-heart"></span>
                                                <p class="hover-text">Favourite!</p>
                                            </a>
                                            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                                            {
                                                <a href="/Administration/Products/ChooseOne/@product.Id" class="social-info">
                                                    <span class="lnr lnr-move"></span>
                                                    <p class="hover-text">view more</p>
                                                </a>
                                            }
                                            else
                                            {
                                                <a href="/Products/Info/@product.Id" class="social-info">
                                                    <span class="lnr lnr-move"></span>
                                                    <p class="hover-text">view more</p>
                                                </a>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- single product -->
                            counter++;
                        }
                        @{
                            counter = 0;
                        }
                    </div>
                </section>
                <!-- End Best Seller -->
            </div>
        </div>
    </div>
</form>